.products{
    flex-wrap: wrap;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    
    
}
@media (max-width:800px) {
    .tools{
        flex-direction: column;

    }
    .btn{
        width: 60%;
        font-size: 10px;
        
        
    }
}
@media (max-width:550px) {
    .btn{
        width: 100%;
        font-size: 10px;
        
        
    }
}

.content-wrapper{
    padding: 32px 24px 24px 24px;
    
}
.product{
    max-width: 300px;
    border-width: 1px;
    border-style: solid solid solid solid;
    border-color: #e4e4e4;
    padding: 32px 24px 24px 24px;
    margin: 0;
    position: relative;
}

.product:hover{
    box-shadow: 0 1px 3px 0 lightgrey, 0 1px 3px 0 lightgrey;
}
.product-image{
    display: flex;
    justify-content: center;
   
}
img{
    max-width: 300px;
    justify-content: center;
    height: auto;
    margin-bottom: 50px;
    
}



body{
    
    font-family: sans-serif;
    font-size: 16px;
    line-height: 1.8;
    color: black;
}

.product-header{
    display: block;
    height: 48px;
    overflow: hidden;
    font-size: 16px;
    margin-bottom: 12px;
    line-height: 24px;
    position: relative;
    color: #000;
    font-weight: bold;
    font-family: "Nunito Sans",sans-serif;
    
}

.product .availability {
    font-size: 13px;
    line-height: 17px;
    margin-top: 0;
    font-weight: bold;
    
}
.products .product-price {
    flex-grow: 1;
    flex-shrink: 0;
    text-align: left;
    font-size: 20px;
    color: #24242E;
    margin-top: 0;
    font-weight: bold;
    font-family: "Nunito Sans", sans-serif;
    
}

.tools{
    display: flex;
    justify-content: space-between;
    
}
.p-tools{
    flex-basis: 50%;
    margin-top: 0;
}
.btn{
    background-color: #32cb00;;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    border: none;
    height: 48px;
   margin-top: 0.5em;
    line-height: 46px;
    
}

.btn:hover{
    background-color: lightgreen;
}
.product-header:hover{
    text-decoration: underline;
}
@media screen and (max-width: 780px) {
    .product {
         max-width: 180px;
    }
}
@media screen and (max-width: 780px) {
    .product-image {
         max-width: 180px;
         padding-left: -1em;
    }
}
@media screen and (max-width: 550px) {
    .product {
         max-width: 120px;
    }
}
@media screen and (max-width: 550px) {
    .product-image {
         max-width: 120px;
         padding-left: -1em;
    }
}
@media screen and (max-width: 385px) {
    .product {
         max-width: 100px;
    }
}
@media screen and (max-width: 385px) {
    .product-image {
         max-width: 100px;
         padding-left: -1em;
    }
}


.product-image a .sleva{
    
    color: white;
    background-color: #E31E53;
   position: absolute;
    margin-left: -3.7em;
    border-radius: 100%;
    width: 75px;
    height: 75px;
    
    display: inline-block;
    text-align: center;
    padding: 0;
}
.sleva .procenta{
    font-weight: 700;
    font-size: 18px;
    line-height: 32px;
    font-family: "Exo 2",sans-serif;
    margin-top: 0.5em;
}
.sleva .last-sleva{
    font-size: 13px;
    line-height: 24px;
    font-weight: 400;
}
.sleva{
    position: absolute;
    top: 1em;
    right: 1em;
}

.flags{
    position: absolute;
    left: 1em;
    top: 1em;
    
    
    
}

.flags .akce{
    width: 25%;
    color: white;
    background-color: #E31E53;
    margin-bottom: 4px;
    padding: 9.5px 12px;
    font-size: 12px;
    border-radius: 0;
    font-weight: 700;
    line-height: 13px;
    text-align: center;
    text-transform: none;
    display: inline-block;
    hyphens: none;
    
    
}
.flags .novinka{
    width: 20%;
    background-color: #14b1ef;
    color: white;
    width: auto;
    margin-bottom: 4px;
    padding: 9.5px 12px;
    border-radius: 0;
    font-size: 13px;
    font-weight: 700;
    line-height: 13px;
    text-align: center;
    text-transform: none;
    display: inline-block;
    hyphens: none;
   
    
}
